*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserret', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
    
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
  
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
    
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.6);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #09d7fcc9;

    /*Text and Font*/ 
    color: #313131;
    font-size: 18px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color: rgba(255, 255, 255, 1.2);
}

main{
    
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.location{
    font-family: 'Brush Script MT', cursive;
}


.location .city{
    color:rgb(51, 47, 47);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 11px;
}

.location .date{
    color:rgb(103, 96, 96);
    font-size: 16px;
}

.current .temp{
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.4);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.7);
}


.current .hi-low{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.7);
}